body{
  background-image:url(../images/tgip_overview2_banner_desktop_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  display: grid;
  place-items: center;
}
input[type='text'],input[type='password']{
  background-color: transparent;
  color: #fff;
}
input:focus{
  background-color: transparent;
  color: #fff;
}
.mx-auto{
  backdrop-filter: blur(2px);
  border:  1px solid yellow;
  border-radius: 5%;
}
input[type='submit']{
  width: 100%;
  margin-bottom: 1.2em;
  color: white;
  background-color: #2f5280;
  border-style: none;
  padding: 2vh 1vh;
  transition: all 1s ease-in-out;
}
.redir a{
  color: yellow;
}