.navbar{
  background-color: #2f5280;
  color: #fff !important;
}

.nav li a, a.navbar-brand{
  color: #fff;
  transition: all 500ms ease-in-out;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
}

.board{
  color: yellow;
}

.nav li a:hover{
  color: #2f5280;
}

.prof{
  position: relative;
}


.prof::before{
  content: "";
  height: 0.2em;
  width: 1.5em;
  background-color: yellow;
  position: absolute;
  left: -15%;
  transform: translateY(12px);
}

.prof-head{
  color: #2f5280;
}

/* .prof-pic{
  display: grid;
  place-items: center;
} */

.icon-bar{
  background-color: #fff;
}

input[type='submit']{
  width: 100%;
  margin-bottom: 1.2em;
  color: white;
  background-color: rgb(47, 82, 128);
  border-style: none;
  padding: 2vh 1vh;
  transition: all 1s ease-in-out;
}
.update label{
  color: #2f5280;
}

.img-thumbnail{
  min-height: 50vh;
  width: 100%;
}

.banner{
  background-image:linear-gradient(to bottom, rgba(47, 82, 128, 0.6), rgba(47, 82, 128,0.3)), url(../images/pexels-photo-6192337.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  color: #fff;
}

.banner .row{
  display: grid;
  min-height: 50vh;
  place-items: center;
}

#cats{
  color: #000;
}

.welcome{
  backdrop-filter: blur(5px);
}