{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
 {% endblock %}


 {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
 <script src="{{url_for('static', filename='js/index.js')}}"></script>
 <script src="https://kit.fontawesome.com/85217334a5.js" crossorigin="anonymous"></script>
 {{super()}}
 {% endblock %}