{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as  wtf %}
{% import 'macros.html' as macro %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
 {% endblock %}

 {% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-4 leave-com">
          {{macro.displayComment(comments)}}
        </div>
        <div class="col-md-4">
        <h2 style="text-align: center; color: #2f5280;">LEAVE A COMMENT</h2><hr>
          {{wtf.quick_form(form)}}
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}