{% extends 'base.html' %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
 {% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2 style="text-align:center ;color: #a7ccfc;">WELCOME TO PITCH<span class="board">BOARD</span>!</h2>
        <p style="text-align:center ; padding: 2%;">
          Here you have one minute to pitch the best idea you have to viewers. <br> Put your creativity to the test.
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
          <li class="nav-item" >
              <a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id ="cats" data-toggle="tab" href="#jobs">Job Pitches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id ="cats" data-toggle="tab" href="#technology">Technology Pitches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id ="cats"data-toggle="tab" href="#ads">Advert Pitches</a>
          </li>
      </ul>
      </div>
    </div>

    <div class="row">
      
    </div>
  </div>

hello


{% endblock %}