{% macro displayPitches(pitches) %}

{% if pitches %}
{% for pitch in pitches %}

<div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 style="text-decoration: underline; font-weight: bold;padding-left: 2%; color: #2f5280;">{{pitch.title}}</h3>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{pitch.pitch}}</p>
          <footer class="blockquote-footer">By <cite title="Source Title">{{pitch.user.username}}</cite></footer>
          <div style="margin-top: 1%;">
            <a href="" title="Upvote" style="padding-right: 3%;"><i class="fa-regular fa-thumbs-up"></i> 1</a> | 
            <a href="" title="Downvote" style="padding: 0 3%;"><i class="fa-regular fa-thumbs-down"></i> 3</a> | 
            <a href="{{url_for('main.new_comment', pitch_id=pitch.id)}}" title="Leave a comment" id="comment" style="padding-left: 3%; cursor: pointer;"><i class="fa-regular fa-comments"></i></a>
          </div>
        </blockquote>
      </div>
  </div>
</div>

{% endfor %}

{% if pitches %}
<h4 style="text-align:center ;"><a href="{{url_for('main.new_pitch')}}"><i style="text-align:center ;color: #2f5280;" class="fa-solid fa-plus"></i> Add pitch...</a></h4>
{% endif %}

{% else %}

<div class="col-12">
  <h3 style="text-align:center ;color: #2f5280;">No pitches added in this category yet. Be the first!</h3>
  <h4 style="text-align:center ;"><a href="{{url_for('main.new_pitch')}}"><i style="text-align:center ;color: #2f5280;" class="fa-solid fa-plus"></i> Add pitch...</a></h4>  

</div>


{% endif %}

{% endmacro %}


{% macro displayComment(comments) %}
  

  {% for comment in comments %}
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{comment.comment}}</p>
          <footer class="blockquote-footer">By <cite title="Source Title">{{comment.user.username}}</cite></footer>
        </blockquote>
      </div>
    </div><hr>
    {% endfor %}


{% endmacro %}