<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pitch<span>Board</span></a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              {% if current_user.is_authenticated %}
              <li><a href="/">Hello {{current_user.username}}!</a></li>
              <li><a href="">Logout</a></li>
              {% else %}
              <li><a href="{{url_for('auth.register')}}">Signup</a></li>
              <li><a href="{{url_for('auth.login')}}">Login</a></li>
              {% endif %}
      </div>

  </div>
</div>